$rubik: "Rubik", sans-serif;
$krub: "Krub", sans-serif;
$main-bg-color: #091242;
$secondary-bg-color: #ebebeb;
$main-accent-color: #ffd550;
$btn-gradient: linear-gradient(90deg, #deaf13, #fddb6a);
$light-font-color: #fff;
$dark-font-color: #000;
$danger-color: #f83434;
$success-color: #20c420;
$warning-color: #ffc022;
$info-color: #1e90ff;
