header.header {
  margin: 100px 0;
  height: 520px;
  position: relative;

  .hero-overlay {
    background: linear-gradient(90deg, rgba(236, 155, 3, .824), rgba(100, 14, 131, .081) 70%);
    z-index: 2;
    height: 100%;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .certificate__container {
    display: none;
    min-height: 300px;
    flex-direction: column;
    justify-content: center;
    background: #ffffff;
    padding: 20px;

    .certificate-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      p, h2{
        margin-bottom: 10px;
      }
    }
  }

  .certificate__container.active {
    display: flex;
  }

  .header__content {
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 3;

    .text {
      margin: 20px 0;
    }

    .header__buttons {
      display: flex;
      align-items: center;
      margin-top: 20px;
    }
  }

  .certificate__search-input {
    border: none;
    border-radius: 5px;
    font-size: 18px;
    height: 40px;
    margin-bottom: 10px;
    outline: none;
    text-indent: 10px;
    transition: .3s;
    width: 100%;
  }
  .certificate__search-input.input_errored{
    border: 1px solid red;
    box-shadow: 0 0 3px 2px red;
    &::placeholder{
      color: red;
    }
  }

  .form__buttons {
    display: flex;
    align-items: center;

    .contact-btn {
      color: $light-font-color;
      margin-left: 30px;
      text-transform: uppercase;
      font-weight: 600;
    }
  }
  .certificate-info{
    img{
      max-width: 300px;
      max-height: 300px;
    }
  }
}